---
import { ArrowUpRight } from "lucide"
import type { Project } from "@/interfaces/project.interface"
import LucideIcon from "./LucideIcon.astro"
import { cn } from "@/lib/utils"
import md from "@/lib/md"

interface Props extends Project {
  class?: string
}

const {
  background = "0 0 0",
  description,
  stack,
  title,
  date,
  link,
  img,
  ...props
} = Astro.props
---

<article
  section-ctn
  data-frame="0 0% 0%"
  data-fg="0 0% 0%"
  data-p-bg={background}
  class={cn(
    "xs:transition xs:opacity-0 xs:duration-500 flex items-center justify-center mt-16",
    Astro.props.class
  )}
  {...props}
>
  <div
    class="flex flex-col lg:flex-row justify-center gap-y-8 md:gap-y-14 gap-x-14 xl:max-w-screen-xl px-4 sm:px-12 2xl:px-8"
  >
    <div class="flex-1">
      <!-- shadow-[0_2px_40px_-4px] shadow-foreground/60 -->
      <img class="rounded-lg size-full max-w-screen-sm mx-auto" {...img} />
    </div>
    <div class="flex flex-1 justify-between uppercase gap-x-8">
      <div class="text-center relative">
        <h3
          class="font-black text-2xl lg:text-4xl leading-none -rotate-90 flex justify-start absolute top-0 left-0"
        >
          <span class="absolute top-0 right-0">{title}</span>
        </h3>
        <div
          class="font-bold text-lg lg:text-2xl *:block ml-8 lg:ml-12 *:leading-none"
        >
          <span class="mb-2">|</span>
          {`${date}`.split("").map((a) => <span>{a}</span>)}
        </div>
      </div>
      <div
        class="flex flex-1 flex-col justify-between items-end max-w-screen-sm gap-y-14 text-2xs md:text-xs lg:text-base"
      >
        <div class="flex flex-col gap-y-2 lg:gap-y-4 w-full">
          <a
            href={link}
            target="_blank"
            rel="noopener noreferrer"
            class="w-full px-5 py-1 flex justify-between items-center bg-foreground hover:bg-foreground/80 rounded-full text-[hsl(var(--p-bg))]"
          >
            <span class="font-bold">Visit</span>
            <LucideIcon icon={ArrowUpRight} class="size-4" />
          </a>
          <ul
            class="flex gap-x-2 lg:gap-x-4 gap-y-1 lg:gap-y-2 font-bold text-2xs md:text-xs flex-wrap"
          >
            {
              stack.map((item) => (
                <li class="border rounded-full px-5 py-0.5">{item}</li>
              ))
            }
          </ul>
        </div>
        <div
          class="p-2 w-full border-t border-b text-2xs sm:text-xs xl:text-base"
        >
          <p
            description-md
            class="md:w-3/4 ml-auto text-right leading-relaxed tracking-widest"
            set:html={md(description)}
          />
        </div>
      </div>
    </div>
  </div>
</article>

<style is:global>
  [description-md] a {
    text-decoration: underline;
  }
</style>
